<!doctype html>
<html>
<head>
  {% section 'header' %}
  {{ content_for_header }}
  <script defer src="{{ 'theme.js' | asset_url }}"></script>
  <link rel="stylesheet" href="{{ 'base.css' | asset_url }}" type="text/css" media="all" />

</head>
<body class=''>
  <div id='cartContainer' class= 'fixed top-0 right-0 z-50 hidden'>
    {% section 'ajaxcart' %}
  </div>

  <main role="main" id="main">
    <ul class=''>
      <div class=''>
    {% section 'frontpage' %}
      </div>
    {{ content_for_layout }}


    
    </ul>
   
  </main>
  
</body>
</html>